@using Dn6Poc.DocuMgmtPortal.MongoEntities
@model IEnumerable<User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int row = 1;
}

<h1>User List</h1>

@if (Model == null)
{
    <p>No records.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@(row++)</th>
                    <td>@item.Username</td>
                    <td>@item.FirstName</td>
                    <td>@item.Status</td>
                    <td>
                        <form method="post">
                            <button class="btn btn-primary" asp-controller="User" asp-action="Activate" asp-route-id="@item.Id">Activate</button>
                            <button class="btn btn-primary" asp-controller="User" asp-action="Suspend" asp-route-id="@item.Id">Suspend</button>
                            <button class="btn btn-primary" asp-controller="User" asp-action="AddAdminRole" asp-route-id="@item.Id">Make Admin</button>
                            <button class="btn btn-primary" asp-controller="User" asp-action="RemoveAdminRole" asp-route-id="@item.Id">Remove Admin</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="pager"></div>
}

<div class="actions">
    <a asp-area="" asp-controller="User" asp-action="Add" class="btn btn-primary">Add user</a>
</div>
